* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
}

a {
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

button {
  cursor: pointer;
}

header {
  background: #fff;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background: #fff;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row1 {
  display: flex;
  justify-content: space-between;
}

.rowwed {
  display: flex;
  justify-content: space-around;
}

.container {
  width: 90%;
  margin: auto;
}

#head {
  width: 114px;
  height: 114px;
  background: url(../../img/logo.png) no-repeat;
  background-size: 100% 100%;
}

nav {
  width: 70%;
}
nav ul {
  width: 100%;
  padding-left: 17%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul li {
  font-size: 22px;
  font-weight: 800;
  font-family: "Kanit", sans-serif;
}
nav .sub-menu {
  background-color: #222;
  display: none;
  padding: 55px;
  margin: 42px 0 0 -60px;
  width: 315px;
  list-style: none;
  position: absolute;
  border-bottom: 6px solid #e16608;
  display: none;
}
nav .sub-menu a {
  color: #fff;
}

.search {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background: #222;
  display: none;
  z-index: 999;
}
.search input {
  padding-left: 3%;
  width: 90%;
  background: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
}
.search button {
  width: 9%;
  font-size: 25px;
  color: #e16608;
  padding-top: 10px;
  background: transparent;
  border: none;
  border-left: 1px solid #7a7a7a;
  height: 70px;
  cursor: pointer;
}

.sub-menu-parent:hover .sub-menu {
  display: block !important;
}

#subs:hover .sub-menu {
  display: block !important;
}

.nav {
  background-color: #222;
  width: 100%;
  text-align: right;
  display: none;
}
.nav ul {
  margin-top: 0;
  padding-top: 25px;
  list-style: none;
}
.nav ul li {
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 25px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #e16608;
}
.nav ul li a {
  color: #fff;
}
.nav .sub-menu {
  background-color: #222;
  display: none;
  padding: 55px;
  margin: 40px 0 0 -60px;
  width: 315px;
  list-style: none;
  position: absolute;
  border-bottom: 6px solid #e16608;
  display: none;
}

#bars {
  color: #e16608;
  font-size: 40px;
  display: none;
}

#header-in {
  display: flex;
  justify-content: center;
  height: 114px;
}

#language {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#hero-area {
  position: relative;
  background: url(../../img/home-slide-1.jpg) no-repeat;
  background-size: 100% 100%;
  padding-top: 120px;
  padding-left: 110px;
  padding-bottom: 160px;
}
#hero-area #comments {
  width: 50%;
}
#hero-area #comments h2 {
  font-size: 50px;
}
#hero-area #comments h2 a {
  color: #fff;
  font-weight: bold;
}
#hero-area #comments p {
  font-size: 20px;
}
#hero-area #comments-dots {
  position: absolute;
  bottom: 8%;
}
#hero-area #comments-dots button {
  width: 60px !important;
  height: 8px;
  background: #fff;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}
#hero-area #comments-dots button:hover {
  background: #e16608;
}

#comments-dots .slick-list .slick-track {
  width: 20%;
}

.slick-prev:before, .slick-next:before {
  display: none !important;
}

.slick-dots li button {
  font-size: 0px;
  line-height: 0;
  display: block;
  width: 60px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: #fff;
  margin-right: 10px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
}

.orange {
  color: #e16608;
}

#modal1, #modal-language {
  margin-top: 150px;
}

.modal {
  position: absolute;
  width: 76%;
  margin: auto;
  top: 0;
  right: 12%;
  background: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  border-bottom: 7px solid #e16608;
  z-index: 999;
}
.modal .modal-content {
  padding: 35px;
}
.modal .modal-content #modal-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal .modal-content #modal-buttons .btn, .modal .modal-content #modal-buttons .close {
  width: 220px !important;
  height: 50px;
  background: #e16608;
  color: #fff;
  border: none;
  font-weight: bold;
  margin-right: 5%;
}
.modal .modal-content #modal-buttons button:hover {
  background: crimson !important;
}
.modal .modal-footer {
  height: 45px;
  text-align: right;
}
.modal .modal-footer #close-modal {
  background: transparent;
  color: #e16608;
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
  border-bottom: 0;
  border-right: 0;
  margin-bottom: 0;
}

#modal-language {
  background: #222;
  color: #fff;
  display: none;
}
#modal-language h4 {
  font-size: 30px;
  margin-left: 6%;
  font-weight: bold;
  margin-bottom: 0;
}
#modal-language div ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#modal-language div ul li {
  width: 50%;
}
#modal-language div ul li div {
  margin-right: 20px;
  float: left;
}
#modal-language div ul li div span {
  font-size: 23px;
}
#modal-language div ul li div p a {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

#p1 {
  display: none;
}

.border {
  border: 1px solid #7a7a7a;
}

.crim {
  color: #fff !important;
  background: crimson;
}

.foot {
  background: #222;
  font-size: 20px;
  padding: 60px 0;
}
.foot h4 {
  font-size: 27px;
  color: #e16608;
}
.foot ul {
  list-style: none;
  padding-left: 0;
}
.foot ul li {
  margin-bottom: 10px;
}
.foot ul li a {
  font-size: 20px;
  color: #fff;
  font-weight: 400 !important;
}
.foot .contacts {
  color: #fff;
}
.foot .contacts h4 a {
  color: #fff;
}

.pen {
  display: none !important;
}

footer {
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}
footer .row {
  width: 99%;
  margin: auto;
}
footer .row .row2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .copyright {
  font-weight: 500;
}

.m-1 {
  margin: 5px;
}

.m-2 {
  margin: 10px;
}

.m-3 {
  margin: 15px;
}

.m-4 {
  margin: 20px;
}

.m-5 {
  margin: 25px;
}

.m-6 {
  margin: 30px;
}

.m-7 {
  margin: 35px;
}

.m-8 {
  margin: 40px;
}

.m-9 {
  margin: 45px;
}

.m-10 {
  margin: 50px;
}

.mx-1 {
  margin-left: 5px;
  margin-right: 5px;
}

.mx-2 {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-3 {
  margin-left: 15px;
  margin-right: 15px;
}

.mx-4 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx-5 {
  margin-left: 25px;
  margin-right: 25px;
}

.mx-6 {
  margin-left: 30px;
  margin-right: 30px;
}

.mx-7 {
  margin-left: 35px;
  margin-right: 35px;
}

.mx-8 {
  margin-left: 40px;
  margin-right: 40px;
}

.mx-9 {
  margin-left: 45px;
  margin-right: 45px;
}

.mx-10 {
  margin-left: 50px;
  margin-right: 50px;
}

.my-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.my-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-5 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.my-6 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-7 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.my-8 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.my-9 {
  margin-top: 45px;
  margin-bottom: 45px;
}

.my-10 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.p-1 {
  padding: 5px;
}

.p-2 {
  padding: 10px;
}

.p-3 {
  padding: 15px;
}

.p-4 {
  padding: 20px;
}

.p-5 {
  padding: 25px;
}

.p-6 {
  padding: 30px;
}

.p-7 {
  padding: 35px;
}

.p-8 {
  padding: 40px;
}

.p-9 {
  padding: 45px;
}

.p-10 {
  padding: 50px;
}

.px-1 {
  padding-left: 5px;
  padding-right: 5px;
}

.px-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.px-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-5 {
  padding-left: 25px;
  padding-right: 25px;
}

.px-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-7 {
  padding-left: 35px;
  padding-right: 35px;
}

.px-8 {
  padding-left: 40px;
  padding-right: 40px;
}

.px-9 {
  padding-left: 45px;
  padding-right: 45px;
}

.px-10 {
  padding-left: 50px;
  padding-right: 50px;
}

.py-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-5 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.py-6 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-7 {
  padding-top: 35px;
  padding-bottom: 35px;
}

.py-8 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-9 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.py-10 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.border {
  border: 1px solid #eee;
}

.border-x {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.border-y {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.open {
  display: block;
}

.fon {
  background: rgba(0, 0, 0, 0.5);
}

#carded {
  padding-top: 60px;
  padding-bottom: 60px;
}
#carded h3 {
  margin-top: 0;
  margin-left: 50px;
  margin-bottom: 40px;
  font-size: 25px;
}

.rowwed .card {
  width: 385px;
  background: #222;
  border-bottom: 7px solid #e16608;
  margin-bottom: 40px;
}
.rowwed .card img {
  width: 100%;
}

.rowwed .card:hover {
  border-bottom: 7px solid crimson;
}

.rowwed .card-content {
  padding-top: 15px;
  padding: 20px 25px;
}
.rowwed .card-content h4 {
  font-size: 23px;
  margin: 0;
}
.rowwed .card-content p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4em;
  color: #eee;
}

.card-button {
  width: 100%;
  height: 60px;
  background: #e16608;
  color: #fff;
  border: none;
  font-size: 15px;
  font-weight: bold;
}

#btn-div {
  width: 20%;
  margin: auto;
}

#home-area {
  background: url(../../img/static-image-banner-bg.jpg) no-repeat;
  background-size: 100% 100%;
  padding-top: 80px;
  padding-left: 110px;
  padding-bottom: 160px;
}
#home-area #about-us {
  width: 40%;
}
#home-area #about-us h2 {
  font-size: 50px;
  margin-bottom: 0;
}
#home-area #about-us p {
  font-size: 22px;
  line-height: 1.5em;
}
#home-area #about-us button {
  border: 0;
  width: 150px;
  height: 60px;
  background: #e16608;
  color: #fff;
  border: none;
  font-size: 15px;
  font-weight: bold;
}

#page {
  background: url(../../img/technology-page-header-bg.jpg);
  background-size: 100% 100%;
  padding-top: 60px;
  padding-left: 40px;
  padding-bottom: 60px;
}
#page h2 {
  font-size: 50px;
}
#page .bread {
  margin-top: 150px;
}
#page .bread ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: flex-start;
}
#page .bread ul li a {
  font-size: 20px;
  color: #eee !important;
  font-weight: 400;
}

#page-content .row {
  padding-top: 0;
  color: #eee;
}
#page-content .row .col-13 {
  padding-top: 60px;
}
#page-content .row .col-13 div {
  padding: 0 50px 50px 30px;
}
#page-content .row .col-13 div p {
  line-height: 1.5em;
}
#page-content .row .col-6 {
  margin-top: 0;
  height: 100%;
  background: #191919;
  padding: 50px;
  margin-right: 3%;
}
#page-content .row .col-6 h2 {
  margin: 100px 0 50px 0;
}
#page-content .row .col-6 .list-box {
  background: #000;
}
#page-content .row .col-6 .list-box ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
#page-content .row .col-6 .list-box ul li {
  padding: 20px;
  border-bottom: 1px solid #222;
}
#page-content .row .col-6 .list-box ul li a {
  color: #eee;
  font-size: 20px;
}
#page-content .row .col-6 .list-box ul li:hover {
  background: #222;
}
#page-content .row .col-6 .list-box ul li:hover a {
  color: #e16608;
}
#page-content .row .col-6 .list-box .list-in {
  background: #222;
  text-align: center;
  height: 55px;
  line-height: 55px;
  border-bottom: 6px solid #e16608;
}
#page-content .row .col-6 .list-box .list-in a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
#page-content .row .col-6 .list-box .list-in:hover {
  border-bottom: 6px solid crimson;
}
#page-content .row .col-6 .list-box .list-in:hover a {
  color: #e16608;
}

.gallery {
  position: relative;
  width: 98%;
  margin: auto;
}
.gallery #hero-img {
  padding: 0 !important;
  width: 100%;
  height: 75%;
  overflow: hidden;
}
.gallery #hero-img img {
  width: 100%;
  height: 100%;
}
.gallery #flex-img {
  width: 100%;
  height: 100px;
  line-height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 !important;
  border: 1px solid #222;
  overflow: hidden;
}
.gallery #flex-img .fast {
  text-align: center;
  width: 5% !important;
  font-size: 25px;
}
.gallery #flex-img .fast button {
  border: none;
  background: transparent;
  color: #e16608;
}
.gallery #flex-img .slider-img {
  text-align: center;
  padding: 0 !important;
}
.gallery #flex-img .slider-img img {
  width: 100px;
  margin: 10px;
}
.gallery #flex-img .fast:first-child {
  border-right: 1px solid #222;
}
.gallery #flex-img .fast:last-child {
  border-left: 1px solid #222;
}

#page-news {
  background: url(../../img/technology-page-header-bg.jpg);
  background-size: 100% 100%;
  padding-top: 60px;
  padding-left: 40px;
  padding-bottom: 60px;
}
#page-news h2 {
  font-size: 50px;
}
#page-news .bread {
  margin-top: 150px;
}
#page-news .bread ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: flex-start;
}
#page-news .bread ul li a {
  font-size: 20px;
  color: #eee !important;
  font-weight: 400;
}

.left {
  padding: 0 !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.left img {
  margin: 15px;
  width: 100%;
  height: 100%;
}

.social-icons {
  padding: 0 !important;
  border: 1px solid #222;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.social-icons span {
  padding: 22px;
  width: 40%;
  text-align: center;
}
.social-icons a {
  padding: 25px;
  width: 12%;
  border-left: 1px solid #222;
}

.col-1 {
  width: 5%;
}

.col-2 {
  width: 10%;
}

.col-3 {
  width: 15%;
}

.col-4 {
  width: 20%;
}

.col-5 {
  width: 25%;
}

.col-6 {
  width: 30%;
}

.col-7 {
  width: 35%;
}

.col-8 {
  width: 40%;
}

.col-9 {
  width: 45%;
}

.col-10 {
  width: 50%;
}

.col-11 {
  width: 55%;
}

.col-12 {
  width: 60%;
}

.col-13 {
  width: 65%;
}

.col-14 {
  width: 70%;
}

.col-15 {
  width: 75%;
}

.col-16 {
  width: 80%;
}

.col-17 {
  width: 85%;
}

.col-18 {
  width: 90%;
}

.col-19 {
  width: 95%;
}

.col-20 {
  width: 100%;
}

/********* Footer started here ******/
/*////////////
medeia mobile*/
@media screen and (max-width: 1200px) {
  nav ul {
    padding-left: 0;
  }
}
@media screen and (max-width: 1024px) {
  .rowwed .card {
    width: 300px;
  }

  .gallery #flex-img .slider-img img {
    width: 50px;
  }
}
@media screen and (max-width: 992px) {
  #modal-language {
    right: 0;
    width: 100%;
    top: -11%;
  }
  #modal-language h4 {
    text-align: center;
    color: #e16608;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }
  #modal-language div ul {
    flex-direction: column;
    text-align: center;
  }
  #modal-language div ul li {
    margin-top: 20px;
  }

  header {
    height: 80px;
    font-size: 20px;
  }
  header #head {
    width: 100px !important;
    height: 80px;
  }

  #header-in {
    height: 80px;
  }

  #search {
    padding: 12px !important;
  }

  #bars {
    padding: 17px;
  }

  nav ul {
    display: none;
  }

  #bars {
    display: block;
  }

  #search {
    border-left: none;
  }

  .footer .row {
    flex-direction: column;
    padding-top: 25px;
  }
  .footer .row .row2 {
    width: 100%;
  }
  .footer .row .row5 {
    width: 50%;
    border: 1px solid #eee;
    text-align: center;
    height: 100px;
    line-height: 100px;
  }
  .footer .row .copyright {
    width: 100%;
    text-align: left;
    color: #000;
  }

  #hero-area {
    padding-top: 30px;
    padding-left: 90px;
    padding-bottom: 140px;
  }
  #hero-area #comments {
    width: 55%;
  }
  #hero-area #comments h2 {
    font-size: 45px;
  }
  #hero-area #comments p {
    font-size: 20px;
  }
  #hero-area #comments-dots {
    margin: auto;
    bottom: 5%;
  }

  #modal1 {
    width: 100%;
    right: 0;
    background: #111;
  }

  #p1 {
    display: block;
    text-align: center;
  }

  #p2, #p3, #no {
    display: none;
  }

  #carded h3 {
    text-align: center;
    margin-left: 0;
  }

  .rowwed {
    width: 95%;
    margin: auto;
    flex-direction: column;
  }
  .rowwed .card {
    width: 500px;
    margin: auto;
    margin-bottom: 40px;
  }

  #about-us {
    width: 80% !important;
  }
  #about-us h2 {
    font-size: 45px;
  }
  #about-us p {
    font-size: 20px;
  }
  .left {
    flex-direction: column;
  }

  #page-content .row .col-13 {
    width: 60%;
  }
  #page-content .row .col-6 {
    width: 40%;
    padding: 5%;
    margin-right: 0%;
  }
}
@media screen and (max-width: 768px) {
  #head {
    width: 100px !important;
  }

  #hero-area {
    padding-top: 20px;
    padding-left: 80px;
    padding-bottom: 120px;
  }
  #hero-area #comments {
    width: 75%;
  }
  #hero-area #comments h2 {
    font-size: 30px;
  }
  #hero-area #comments p {
    font-size: 20px;
  }
  #hero-area #comments-dots {
    margin: auto;
  }

  #search {
    margin: 0;
    padding-left: 0;
  }

  .foot {
    display: none;
  }

  .footer {
    width: 97%;
    margin: auto;
  }

  .row3 {
    display: flex;
    flex-direction: column;
  }
  .row3 .logo {
    margin-top: 10px;
    width: 100%;
  }

  #language span {
    display: none;
  }

  #btn-div {
    width: 30%;
  }

  #page-content .row {
    padding: 15px;
    flex-direction: column;
  }
  #page-content .row .col-13 {
    width: 100%;
  }
  #page-content .row .col-6 {
    width: 100%;
  }

  .social-icons span {
    display: none;
  }
  .social-icons a:first-of-type {
    width: 30%;
    text-align: right;
    border: none;
  }
  .social-icons a:last-of-type {
    width: 30%;
  }
  .social-icons a {
    width: 20%;
    text-align: center;
  }
}
@media screen and (max-width: 640px) {
  #head {
    width: 100px !important;
  }

  #hero-area #comments {
    text-align: center;
  }
  #hero-area #comments p {
    display: none;
  }
  #btn-div {
    width: 95%;
  }
}
@media screen and (max-width: 576px) {
  #head {
    width: 100px !important;
  }

  #modal-language h4 {
    width: 100%;
    text-align: left;
  }
  #modal-language div ul {
    padding-left: 10px;
  }

  #modal1 .modal-content, #modal-language .modal-content {
    padding: 15px;
  }

  #hero-area #comments {
    width: 90%;
  }
  #hero-area #comments-dots {
    left: 20%;
    text-align: center;
  }
  #hero-area #comments-dots button {
    width: 40px !important;
  }

  #modal1 .modal-content {
    padding: 10px;
  }

  .rowwed .card {
    width: 400px;
    margin: auto;
    margin-bottom: 40px;
  }

  #home-area {
    padding: 15px;
  }
  #home-area #about-us {
    width: 100% !important;
  }
  #home-area #about-us button {
    width: 100%;
  }
}
@media screen and (max-width: 414px) {
  #head {
    width: 100px !important;
  }

  #hero-area {
    padding-left: 40px;
    padding-bottom: 60px;
  }
  #hero-area #comments-dots {
    left: 20%;
    text-align: center;
  }
  #hero-area #comments-dots button {
    width: 40px !important;
  }

  #modal1 .modal-content {
    padding: 5px;
  }
  #modal1 .modal-content #modal-buttons button {
    width: 120px;
  }

  .rowwed .card {
    width: 300px;
    margin-bottom: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
